.plan-container{
    margin-top: 40px;
    span{
        display: flex;
        justify-content: space-between;
        div{
            .btn1 {
                border:none;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                padding: 7px;
              }
              .btn2 {
                border:none;
                padding: 7px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border-left: 1px solid black;
              }
        }
    }
    h3{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color:#2430A0;
        a{
            font-size: 14px;
            color:#E25753;
            margin-left: 10px;
            font-weight: 600;
        }
    }
}
p{
    color:#51557D;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.plan-comp{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:900px) {
          
    .plan-container{
        height: auto;
        width: 100%;
        span{
            display: flex;
            flex-wrap: wrap;
            div{
                display: flex;
            }
        }
    }
    .plan-comp{
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
    }
}


