.plan-card{
    height:auto;
    width:260px;
    border-radius: 10px;
    
    // .plan-inner{
    // background-color: #E9EFFF;
    // border-radius: 10px;
        
    // width: 100%;
      
     a{
        width:100%;
        background-color: #2430A0;
       }

       p{
        font-size: 12px;
        padding: 4px;
        color:#3E3E3E;
       }
       h6{
        padding-left:4px ;
       }
  }

@media screen and (max-width:900px) {
    .plan-card{
        margin-bottom: 20px;
    }
}