.plan-container{
    margin-top: 40px;
    span{
        display: flex;
        justify-content: space-between;
        
    }
    h3{
        color:#2430A0;
        a{
            font-size: 14px;
            color:#E25753;
            margin-left: 10px;
            font-weight: 600;
        }
    }
}
p{
    color:#51557D;
}