
.body-container{
    margin-top: 5%;
    height: auto;
    width: 100%;
    display: flex;
}
.body-inner{
    height:30%;
    width:40%;
}

.body-heading{
    width:100%;
    color:#2430A0;
}
.body-para{
    width:100%;
    color:#2430A0;
    text-align: justify;
}

.body-button{
    border:1px solid #2430A0;
    border-radius: 30PX;
    margin-top: 10px;
    width:65%;
    display: flex;
}

.body-button .email{
    border:none;
    outline: none;
    border-radius: 18px;
    padding-left: 10px;
    
}
.body-button button{
    border: none;
    height: 27px;
    background-color: #2430A0;
    color: white;
    border-radius: 18px;
    width: 160px;
}


.image-section{
    height:30%;
    width:60%;
    
}
.body-image{
    border-radius:10px;
    float: right;
}