.class-mainbody {
  margin-top: 40px;
  h3 {
    color: #2430a0;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
   color:#1B1F49;
  }
}

.class-container {
  .class-row {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
  }
}

.class-card {
  // height:33%;
  width: 250px;

  .card-img {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    object-fit: cover;
  }

  .card-img:hover {
    border: 3px solid skyblue;
    cursor: pointer;
  }
}

@media screen and (max-width: 720px) {
  .class-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .card-img {
      height: 200px;
      width: 200px;
    }
  }
}
