/* Header.css */
.header {
    background-color: white;
    color:#2430A0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .left-section {
    display: flex;
    align-items: center;
    margin-left: 10%;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .dropdown {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
  }
  
  .dropdown > select{
    border: none;
    font-weight: bold;
    color:#2430A0;
    outline: none;
    font-size: 14PX;

  }
  
  .right-section {
    display: flex;
    align-items: center;
    margin-right: 10%;
  }
  
  .tech {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #0e20b4;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 23px;
  }
  
  .button:hover {
    background-color:white;
    color:#2430A0;
    border:1px solid #2430A0;
  }
  