.container {
  margin-top: 40px;
  .column1 {
    .sec-img {
      // object-fit: cover;
      width: 100%;

      img {
        max-width: 100%;
        height: 300px;
        border-radius: 10px;
      }
    }
  }
  .column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      text-align: justify;
    }
    button {
      background-color: #2430a0;
      color: white;
      border-radius: 15px;
      width: 170px;
      
    }
  }
}
