.App {
     position: relative;  
}


/* .app-tooltip{
  position: fixed;
  bottom:500px;
  right:100px;
  font-size: 30px;
  border-radius: 50%;
  color:#2430A0;
  cursor: pointer;
} */



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:900px) {
  .app-tooltip{
    position: fixed;
    bottom:100px;
    right:10px;
    font-size: 30px;
    border-radius: 50%;
    color:#2430A0;
    cursor: pointer;
  }
}
